




/*** mailSent用確認文 ***/
main .main-container .form .sent-mail {
    font-size: 1.9rem;
}

main .main-container .form .check-mail {
    color: #fff;
    text-align: center;
    margin-top: -22px;
    margin-bottom: 47px;
}

main .main-container .form .not-received {
    color: #fff;
    text-align: center;
    margin-bottom: -9px;
    font-size: 17px;
}

main .main-container .form .not-received-btn {
    margin-bottom: 15px;
}