



.top-container {
    width: 100%;
    min-height: 100vh;
    color: #7e8085;
    position: relative;
}

.top-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/../AngeloCheese/images/Background/bgImg2.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.top-container .title {
    font-size: 5vw;
    padding-top: 133px;
    transform: scale(1, 1.13);
}

main {
    margin-top: 62px;
}

.about-us {
    width: 100%;
    text-align: center;
}

.about-us h1,
.top-container h1 {
    font-size: clamp(2rem, 10vw, 6.0em);
    text-align: center;
}

.about-us h1 {
    white-space: nowrap;
}

.about-us h2 {
    font-size: clamp(2.5rem, 5.0vw, 3.0rem);
    text-align: center;
    margin-top: -7px;
}

.about-us p {
    width: 75%;
    margin: 26px auto 0 auto;
    font-size: 1.6rem;
}

.products {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.products .container {
    width: var(--width);
}

.products .category-section {
    margin-bottom: 40px;
}

.products .category-section .category-title {
    text-align: center;
}

.products .category-section h2 {
    color: #fff;
    font-size: 3.9rem;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 17px;
}

.products .category-section h2::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--gold); 
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.products .product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px 20px;
    justify-content: flex-start;
}

.products .forms {
    width: calc((100% - 40px) / 3);
}

.products .forms-container {
    width: 96%;
    margin: 0 auto;
}

.products .product {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.products .product button {
    border: none;
    cursor: pointer;
}

.products .product img {
    width: 100%;
    aspect-ratio: 330 / 380;
    object-fit: cover;
    display: block;
    transition: filter 0.2s;
}

.products .product img:hover {
    filter: brightness(108%);
}

.products .product-info {
    color: #fff;
    text-align: left;
}

.products .product-info h3 {
    font-size: 2.1rem;
    margin-top: 6px;
}

.products .product-info p {
    font-size: 1.5rem;
}

.products .to-cart {
    margin-top: 17px;
    width: 100%;
}

.products .to-cart .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0 12px;
    width: 100%;
    background: #a88d5d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.products .to-cart .cart:hover {
    background: var(--gold);
}

.products .cart p {
    font-size: 1.5rem;
    font-weight: bold;
}

.products .cart i {
    margin-bottom: 12px;
    font-size: 2.0rem;
}

.products span2 {
    font-size: 1.3rem;
    margin-left: 5px;
}

/* @media (max-width: 510px) { */
@media (max-width: 768px) {
    
    .top-container::before {
        background-image: url(/../AngeloCheese/images/Background/bgImg4.jpg);
    }

    .top-container .title {
        font-size: 11.3vw;
        padding-top: 127px;
    }

    .about-us h2 {
        font-size: 4.5vw;
    }

    .about-us p {
        width: 92%;
        font-size: 1.4rem;
    }

    .products .container {
        width: 500px;
    }

    .products .product-container {
        padding: 0 6px;
    }

    .products .category-section h2 {
        text-align: center;
        font-size: 2.6rem;
    }

    .products .forms {
        width: calc((100% - 20px) / 2);
    }

    .products .product-info h3 {
        font-size: 2.0rem;
    }
}
