




.reset-done {
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
}

.to-login-btn {
    display: block;
    margin: 0 auto;
    /* margin: 0 auto 8px auto; */
    border-radius: 7px;
    border: none;
    color: #fff;
}