




/********** CSS変数の定義 **********/
:root {
    --bgblack: #242424;     /* 全体背景色 */
    --width: 100%;            /* 全体幅を100%に変更 */
    --gold: #C2A26A;        /* メインの金色 */
    --hoveredGold: #dabc89; /* ホバー時の金色 */
    --bgblack: #242424;     /* 全体背景色 */
    --bgblack2: #303030;    /* フォーム内背景色 */
    --bgblack3: #272727;    /* インプット内、フッター背景色 */
}

/********** 各種初期設定 **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/********** 全体をgridに指定 **********/
.grid-container {
    display: grid;
    grid-template-columns: 215px 1fr; /* サイドバー、メイン */
    height: 100%;
}

/********** sidebar **********/
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-right: 1px solid #242424;
    overflow: hidden; /* 初期時点ではスクロールオフ */
}

.sidebar-contents {
    width: 100%;
    flex: 1;
    overflow-y: auto; /* サイドバー内項目が沢山開いたらスクロールオン */
}

.sidebar .sidebar-logo {
    height: auto;
    width: 195px;
    margin-top: 7px;
}

.sidebar-contents .menu .item {
    width: 100%;
    position: relative;
}

.sidebar-contents .menu .item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #d3d3d3;
    height: 1px;
    width: 70%;
}

.sidebar-contents .menu .item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
}

.sidebar-contents h3 {
    font-size: 18px;
}

.sidebar-contents .fa-solid {
    position: absolute;
    right: 30px;
    transition: 0.3s ease;
}

.sidebar-contents .submenu {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.sidebar-contents .submenu li {
    padding: 12px;
    cursor: pointer;
}

.sidebar-contents .submenu li:hover {
    background: #cccccc;
}

/*** user-info ***/
.sidebar .user-info {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gold);
    width: 100%;
    padding: 22px;
    gap: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .user-info:hover {
    background: var(--hoveredGold);
}

.sidebar .user-info i {
    font-size: 28px;
}

.sidebar .user-info p {
    font-size: 18px;
}

/*** JS：クリック時反応 ***/
.sidebar-contents .submenu.toggle {
    max-height: 200px;
    opacity: 1;
}

.sidebar-contents .fa-solid.toggle {
    transform: rotate(180deg);
}

/********** main **********/
main {
    background: #f1f1f1;
    padding: 10px 20px 20px 20px;
    overflow-y: auto;
}

main h1 {
    position: relative;
}

main h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    background: var(--hoveredGold);
    height: 1.21px;
    width: 102px;
}

main .main-area {
    margin-top: 15px;
    border: 1px solid #888888;
    border-radius: 2px;
    padding: 9px 9px 13px 9px;
    background: #fff;
    height: 450px;
    overflow-y: auto;
}
