




main .warning-container {
    border: 1px solid #FF4141;
    width: 80%;
    margin: 0 auto;
    background: #f8b2b2;
    padding: 20px;
}

main .warning-container p {
    color: #ff2121;
    font-size: 1.5rem;
    font-weight: bold;
}

main .unsubscribe-reasons-container {
    width: 87%;
    margin: 23px auto 0 auto;
}

main .unsubscribe-reasons-container h3 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 4px;
}

main .unsubscribe-reasons-container .reason {
    display: flex;
    margin-bottom: 6px;
    gap: 5px;
}

main .unsubscribe-reasons-container .reason label {
    margin: 0 !important;
    font-size: 1.7rem !important;
}

main .unsubscribe-reasons-container textarea {
    resize: vertical;
    width: 100%;
    min-height: 170px;
    background: var(--bgblack3);
    color: #fff;
    padding: 2px 6px;
    font-size: 1.6rem;
}

main .unsubscribe-reasons-container .to-confirm {
    padding: 10px 24px;
    font-size: 1.8rem;
    display: block;
    margin: 17px auto;
    color: var(--gold);
    background: var(--bgblack3);
    border-radius: 7px;
    border: 1px solid var(--gold);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

main .unsubscribe-reasons-container .to-confirm:hover {
    background: var(--gold);
    color: #fff;
}